<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #EF9273">
  <a class="navbar-brand" href="/">
    <%= image_tag("logo.png", size: "30x30") %>  
    DailyCats
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">

      <%= link_to "Home", root_path, class: "nav-item nav-link" %>

      <% if user_signed_in? %>
        <%= link_to "My Cats", cats_user_path(current_user), class: "nav-item nav-link" %>
        <%= link_to "Cat Feed", feed_user_path(current_user), class: "nav-item nav-link" %>
        <%= link_to "My Profile", user_path(current_user), class: "nav-item nav-link" %>

        <% if current_user.admin? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Manage Cats", cats_path, class: "dropdown-item" %>
            <%= link_to "Create Post", new_cat_post_path, class: "dropdown-item" %>
            <%= link_to "Statistics", stats_path, class: "dropdown-item" %>
            <%= link_to "Export Users", users_path(format: "xlsx"), class: "dropdown-item" %>
          </div>
        </li>
        <% end %>

        <%= link_to "Logout", signout_path, class: "nav-item nav-link" %>

      <% else %>
        <%= link_to "Login", login_path, class: "nav-item nav-link" %>
        <%= link_to "Register", signup_path, class: "nav-item nav-link" %>
      <% end %>
      
    </div>
  </div>
</nav>