<%= provide(:title, @cat.name) %>

<div class="row justify-content-center" style="padding: 15px">
    <div class="col">
        <div class="card" style="border-radius: 15px; flex-direction: row;">
            <% if @cat.image.attached? %>
                <%= image_tag(@cat.image, class: "card-img-top", style: "width: 50%; height: 50vh; object-fit: cover") %>
            <% end %>

            <div class="card-body col">
                <h5 class="card-title"><%= @cat.name %></h5>

                <div class="row">
                    <div class="col-sm-3">
                        <p><%= fa_icon gender_icon(@cat.gender) %> <%= @cat.gender.humanize %></p>
                    </div>
                    <div class="col-sm-5">
                        <p><%= fa_icon "birthday-cake" %> <%= @cat.birthday.to_s(:long_ordinal) %></p>
                    </div>
                    <div class="col-sm-4">
                        <p><%= fa_icon "heart" %> <%= pluralize(number_with_delimiter(@cat.subscribers.count), "subscriber") %></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="margin-bottom: 16px;">
                        <% @cat.traits.each do |trait| %>
                            <span><%= fa_icon "tag" %> <%= trait.description %></span>
                        <% end %>
                    </div>
                </div>
                <p class="card-text"><%= @cat.description %></p>
                <% if user_signed_in? %>
                    <%= render 'subscribe_form' %>
                <% else %>
                    <%= link_to "Sign in to Subscribe", login_path, class: "btn", style: "background-color: #EF9273; color: white;" %>
                <% end %>        
            </div>
        </div>
    </div>
</div>