<script>
$(document).on('turbolinks:load', function () {
    'use strict';
    var forms = document.getElementsByClassName('needs-validation');

    // Get all form groups in need of validation
    var validateGroup = document.getElementsByClassName('validate-me');

    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        for (var i = 0; i < validateGroup.length; i++) {
          validateGroup[i].classList.add('was-validated');
        }
      }, false);
    });
});
</script>

<h2>Login</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "needs-validation", novalidate: true }) do |f| %>
<div class="form-group text-left validate-me">
    <%= f.label :email, for: "validationCustom12"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id: "validationCustom12", required: true %>
    <div class="invalid-feedback"> Please provide a valid email.</div>  
</div>

<div class="form-group text-left validate-me">
    <%= f.label :password, for: "validationCustom13"%><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control", id: "validationCustom13", required: true %>
    <div class="invalid-feedback"> Please provide a password.</div>  
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "form-text text-right", style: "display: none" %>
</div>

<% if devise_mapping.rememberable? %>
    <div class="form-check text-left">
    <%= f.check_box :remember_me, class: "form-check-input", id: "remember-check" %>
    <%= f.label :remember_me, class: "form-check-label", for: "remember-check" %>
    </div>
<% end %>

<div class="actions">
    <%= f.submit "Log in", class: "btn", style: "background-color: #EF9273; color: white;" %>
</div>
<% end %>

<%= render "devise/shared/links" %>
