<div class="card" style="border-radius: 15px">
    <div class="card-body">
        <%= image_tag cat_post.cat.image, size: 50 %>
        <span class="card-title"><%= cat_post.cat.name %> </span><br>
        <span class="card-subtitle text-muted">Posted <%= time_ago_in_words(cat_post.created_at) %> ago</span>
        <p><%= cat_post.content %></p>

        <div id="carouselExampleIndicators-<%= cat_post.id %>" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <% cat_post.images.each_with_index do |image, index| %>
                    <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index.zero? ? 'active' : '' %>"></li>
                <% end %>
            </ol>
            <div class="carousel-inner">
                <% cat_post.images.each.with_index do |image, index| %>
                <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
                    <%= link_to rails_blob_path(image, disposition: "attachment") do %>
                        <%= image_tag(image, class: 'd-block w-100 img-fluid', style: "height: 40vh; object-fit: cover") %>
                    <% end %>
                </div>
                <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators-<%= cat_post.id %>" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators-<%= cat_post.id %>" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>