<%= provide(:title, @user.name) %>

<% if current_user?(@user) %>
    <div class="container">
        <div class="row" style="padding: 15px">
            <div class="col-sm-4">
                <div class="card text-center" style="border-radius: 15px">
                    <div class="card-body">
                        <h5 class="card-title">My Profile</h5>
                        <p class="card-text"><%= @user.name %></p>
                        <%= link_to "My Family", '#', class: "btn", style: "background-color: #EF9273; color: white;" %>        
                    </div>
                </div>
            </div>
            <div class="col-sm-8"> 
                <div class="card text-center" style="border-radius: 15px">
                    <div class="card-body">
                        <h5 class="card-title">Profile Picture</h5>
                        <p class="card-text">Choose an image from your computer</p>
                        <%= link_to "Upload", '#', class: "btn", style: "background-color: #EF9273; color: white;" %>        
                    </div>
                </div>
            </div>
        </div>

        <div class="row"> 
            <div class="col-sm-8 offset-sm-4">
                <%= render "devise/registrations/edit" %> 
            </div>
        </div>
    </div>

<% else %> 
<h1><%= @user.name %>'s Family</h1>
<% end %>