<p>Greetings <%= @user.name %>!</p>

<p>Thanks for subscribing to <%= @cat.name %>! You can now view <%= @cat.name %>'s feed <%= link_to "here", cat_posts_cat_url(@cat) %></p>

<p>Find more cats to add to your family <%= link_to "here", root_url %></p>

<p>Thanks for subscribing!<p> 